<div class="container">
  <h2 *ngIf="!editId" class="mt-5 mb-4">Create Service</h2>
  <h2 *ngIf="editId" class="mt-5 mb-4">Edit Service</h2>
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="serviceName">Name</label>
      <input type="text" class="form-control" id="serviceName" placeholder="Enter name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="serviceDescription">Description</label>
      <input type="text" class="form-control" id="serviceDescription" placeholder="Enter description"
        formControlName="description">
    </div>
    <div class="form-group">
      <label for="servicePrice">Price</label>
      <input type="text" class="form-control" id="servicePrice" placeholder="Enter price" formControlName="price">
    </div>
    <div class="mt-2 mb-2">
      <small class="error"> {{error}} </small>
    </div>
    <button type="submit" class="btn btn-primary" [ngClass]="{ disabled: loading }">
      <span *ngIf="!editId">Create</span>
      <span *ngIf="editId">Save</span>
    </button>
  </form>
</div>